:root {
  --brightred: #F9423D;
  --white: #fff;
  --darkgrey: #212329;
}

* {
  box-sizing: border-box;
}

.grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.btn button {
  border: none;
  background: none;
  background-color: var(--brightred);
  padding: 6px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

button:hover {
  background-color: var(--darkgrey);
  color: var(--white);
  transition: all 0.5s ease-in-out;
  border-radius: 4px;
  border: 1px solid var(--brightred);
}

@media screen and (max-width: 768px) {
  .grid-container {
    width: 70%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
    grid-gap: 10px;
  }
}